/*******************/
/* ROOT STYLEGUIDE */
/*******************/
:root {
  /*
  The designs were created to the following widths:
  - Mobile: 375px
  - Desktop: 1440px
  */

  /* MAIN COLORS */
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /* MAIN FONTS */
  --fs-p: 1rem;
  --fs-heading: 2.5rem;
  --ff-young-serif: "Young Serif", serif;
  --ff-outfit: "Outfit", sans-serif;
  --fw-youngserif-400: 400;
  --fw-outfit-400: 400;
  --fw-outfit-600: 600;
  --fw-outfit-700: 700;
}

/*************/
/* CSS RESET */
/*************/
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-outfit);
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/***************/
/* MAIN STYLES */
/***************/

body {
  background-color: var(--Stone-150);
  color: var(--Stone-600);
}

span {
  font-weight: var(--fw-outfit-700);
}

/*******************************/
/* MEDIAQUERY - MOBILE - 375px */
/*******************************/
@media screen and (max-width: 375px) {
  /****************/
  /* MAIN SECTION */
  /****************/
  .content-wrapper {
    padding: 2rem;
    background-color: var(--White);
  }

  .main-intro {
    margin-bottom: 2rem;
    line-height: 1.4;
  }

  .main-intro h1 {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-youngserif-400);
    margin-bottom: 1.5rem;
    font-size: 2.3rem;
    text-align: left;
    line-height: normal;
  }

  .main-intro p {
    font-family: var(--ff-outfit);
    font-size: 0.99rem;
    font-weight: 400;
  }

  /*****************/
  /* ASIDE SECTION */
  /*****************/
  .prep__time {
    display: flex;
    flex-direction: column;
    background-color: var(--Rose-50);
    width: 311px;
    height: 196px;
    padding: 1.5rem;
    font-family: var(--ff-outfit);
    margin-bottom: 2rem;
  }

  .prep__header {
    color: var(--Rose-800);
    margin-bottom: 0.6rem;
  }

  .prep__list {
    padding-left: 1.3rem;
  }

  .prep__list li {
    padding-left: 1rem;
    line-height: 1.75;
    width: 211px;
    align-items: center;
  }

  li::marker {
    color: var(--Rose-800);
    font-size: 0.7rem;
  }

  /***********************/
  /* INGREDIENTS SECTION */
  /***********************/
  .ingredients {
    margin-bottom: 2rem;
  }

  .ingredient__header {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-youngserif-400);
    font-size: 1.7rem;
    color: var(--Brown-800);
    margin-bottom: 1.5rem;
  }

  .ingredient__list {
    padding-left: 1.2rem;
  }

  .ingredient__list li {
    padding-left: 1rem;
    line-height: 1.75;
    width: 271px;
  }

  /***********************/
  /* INSTRUCTION SECTION */
  /***********************/
  .instructions {
    margin-bottom: 2rem;
    width: auto;
  }

  .instructions__header {
    font-family: var(--ff-young-serif);
    font-weight: var(--fw-youngserif-400);
    font-size: 1.7rem;
    color: var(--Brown-800);
    margin-bottom: 1.5rem;
  }

  .instructions__list {
    padding-left: 1rem;
  }

  .instructions li {
    padding-bottom: 0.5rem;
    padding-left: 1rem;
  }

  .instructions__list li::marker {
    font-weight: 900;
    font-size: 1rem;
    padding-left: 0.5rem;
  }

  /*********************/
  /* NUTRITION SECTION */
  /*********************/
  
}

/***************/
/* attribution */
/***************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
